@import url("_variables.css");

.action-block__title {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
}

.action-block__description {
    font-size: 18px;
    line-height: 1.3;
    color: var(--dark);
}

.action-block__input::placeholder {
    font-size: 18px;
    line-height: 1.3;
    color: var(--dark);
    opacity: 50%;
}